<% if bank_transfer_payments = @order.payments.from_bank_transfer %>
  <% bank_transfer_payments.each do |photo| %>
    <% unless photo.bank_attachment_file_name.nil? %>
      <div class="media-left">
        <!-- Renders image -->
        
        <%=link_to image_tag(photo.bank_attachment.url,class: 'media-object'), photo.bank_attachment.url(:original), :popup=>['original_image', 'height=700,width=900'] %>
         
         <div> 
        <!-- Button to delete image -->
        </div>
      </div>
     <% end %>
  <% end %>
<% end %>
<% unless @order.payment_state == "completed" %>
  <% if bank_transfer_payment = @order.payments.from_bank_transfer.first %>
  
    <%= form_for bank_transfer_payment, html: { class: "bt_payment_form" } do |f| %>
      <table>
        <tr>
          <td><%= Spree.t(:bank_attachment) %></td><td><%= f.file_field :bank_attachment %></td>
        </tr>
      </table>
      
      <br>
      
        <%= f.submit "Submit", confirm: Spree.t(:confirm_details_submit)  %>
    <% end %>
  <% end %>
<% end %>
